@font-face {
  font-family: "iconfont"; /* Project id 2932819 */
  src: url('iconfont.woff2?t=1637035867448') format('woff2'),
       url('iconfont.woff?t=1637035867448') format('woff'),
       url('iconfont.ttf?t=1637035867448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengpaotishi:before {
  content: "\e622";
}

.icon-simqia:before {
  content: "\e647";
}

.icon-xiaoyouxi:before {
  content: "\e617";
}

.icon-kefu:before {
  content: "\e741";
}

.icon-gouwu:before {
  content: "\e684";
}

.icon-icon:before {
  content: "\e64e";
}

.icon-san:before {
  content: "\e807";
}

.icon-15:before {
  content: "\e61e";
}

.icon-shezhi1:before {
  content: "\e8b7";
}

.icon-bumenfankui:before {
  content: "\e63b";
}

.icon-yueliang:before {
  content: "\e70f";
}

.icon-direction-right:before {
  content: "\e66d";
}

.icon-fuli:before {
  content: "\e6f7";
}

.icon-qianbao:before {
  content: "\e633";
}

.icon-clothes:before {
  content: "\e8c7";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-icon_bilibili-circle:before {
  content: "\e600";
}

.icon-cangchucangku:before {
  content: "\e98c";
}

.icon-cangchucangku-copy:before {
  content: "\e9a2";
}

.icon-user-copy:before {
  content: "\e9a0";
}

.icon-quanlingyuguimo-copy:before {
  content: "\e9a1";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-up:before {
  content: "\e66c";
}

.icon-search:before {
  content: "\e67e";
}

.icon-arrow-left-bold:before {
  content: "\e68c";
}

.icon-arrow-up-bold:before {
  content: "\e68e";
}

.icon-arrow-down-bold:before {
  content: "\e69a";
}

.icon-arrow-right-bold:before {
  content: "\e69b";
}

.icon-maijiagouwuche:before {
  content: "\e992";
}

.icon-guanli:before {
  content: "\e993";
}

.icon-quanlingyuguimo:before {
  content: "\e994";
}

.icon-saoma:before {
  content: "\e995";
}

.icon-user:before {
  content: "\e99e";
}

.icon-maijiagouwuche-copy:before {
  content: "\e99f";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-tianqi:before {
  content: "\e67b";
}

.icon-chilun:before {
  content: "\e67c";
}

.icon-diqiu:before {
  content: "\e67d";
}

.icon-dianhua:before {
  content: "\e67f";
}

.icon-dingwei:before {
  content: "\e680";
}

.icon-lanya:before {
  content: "\e681";
}

.icon-shezhi:before {
  content: "\e682";
}

.icon-lianxiren:before {
  content: "\e683";
}

.icon-xiangce:before {
  content: "\e685";
}

.icon-xiaoxi:before {
  content: "\e686";
}

.icon-zhinanzhen:before {
  content: "\e687";
}

.icon-shizhong:before {
  content: "\e688";
}

.icon-bangzhu:before {
  content: "\e689";
}

.icon-dengpao:before {
  content: "\e68a";
}

.icon-guanyu:before {
  content: "\e68b";
}

.icon-kaishi:before {
  content: "\e68d";
}

.icon-houtui:before {
  content: "\e68f";
}

.icon-qianjin:before {
  content: "\e690";
}

.icon-shidu:before {
  content: "\e691";
}

.icon-wendu:before {
  content: "\e692";
}

.icon-zhuzhuangtu:before {
  content: "\e693";
}

.icon-zhexiantu:before {
  content: "\e694";
}

.icon-zanting:before {
  content: "\e695";
}

.icon-dianchidianliang:before {
  content: "\e696";
}

.icon-wifi:before {
  content: "\e697";
}

.icon-dianyuan:before {
  content: "\e698";
}

.icon-shouji:before {
  content: "\e699";
}

.icon-shandian:before {
  content: "\e69e";
}

.icon-xiangji:before {
  content: "\e69f";
}

.icon-cunchu:before {
  content: "\e6a0";
}

.icon-duoji:before {
  content: "\e6a1";
}

